/* Ensures the body and html take up the full viewport height */
html,
body {
  height: 100%;
  margin: 0;
}

/* Main container to push footer down */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

/* Main content area, which will grow and push the footer down */
.main-content {
  flex: 1; /* Fills available space */
}

footer {
  background-color: #034e7b;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
}

.contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  /* Add any additional styling you need */
}
/* .contact:hover {
  position: fixed;
  bottom: 50px;
  left: 100px;
  z-index: 1000;
} */
